
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <h2>Hyper news</h2>
    {% regroup news|dictsortreversed:"created" by created|slice:":-9" as news_list %}
    <form method = "get">
        <input name = "q">
        <button type = "submit"> Search </button>
    </form>
    <ul>
    {% for post in news_list  %}
        <li> <h4>{{ post.grouper }}</h4>
            <ul>
                {% for news in post.list %}
                    <li><a href="/news/{{news.link}}/">{{ news.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

<a href="/news/create/">
    Create news
</a>
</body>
</html>
